@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100;600&display=swap');

:root {
  --theme-green: #41B3A3;
  --theme-red: #E27D60;
  --max-width: 800px;
  font-family: 'Texturina', serif;
}