@import '../variables.css';

.navbar-container {
  height: 50px;
  width: 100%;
  background-color: var(--theme-green);
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 100;
}

.navbar {
  width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.navbar__header {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  height: 50px;
  line-height: 45px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar__list {
  list-style: none;
  height: 50px;
  display: flex;
  align-items: center;
}

.navbar__list__item {
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  line-height: 45px;
  font-weight: 600;
  font-size: 1.4rem;
}

.navbar-link {
  text-decoration: none;
  color: inherit;
}

.navbar-link:hover {
  background-color: var(--theme-red);
  color: white;
  -webkit-transition: color 100ms linear;
  -ms-transition: color 100ms linear;
  transition: color 100ms linear;
}




